body {
    width: 80%;
    min-width: 800px;
    max-width: 1280px;
    margin: 0 auto;
}

.main {
    margin: 15px 0;
    display: flex;
}

.sidebar {
    width: 230px;
    border: 1px solid #EFEFEF;
    margin-right: 3px;
    padding: 2px;
}

.news-board {
    flex-grow: 1;
}