body {
    width: 80%;
    min-width: 800px;
    margin: 0 auto;
}

.main {
    margin: 15px 0;
    display: flex;
    justify-content: row; 
}

.sidebar {
    width: 240px;
}

.news-board {
    flex-grow: 1;
}